<!--
<div class="container">
  <div class="row">
    <div class="col-md  h-100">
      <app-login></app-login>
    </div>
    <div class="col-md h-100" >
      <app-login-form></app-login-form>
    </div>
  </div>
</div>
-->
<!--
<div>
  <app-registerform></app-registerform>
</div>

<div>
  <app-registerform></app-registerform>
</div>

<div>
  <app-adminpage></app-adminpage>
</div>


 <div>
    <app-addcab></app-addcab>
  </div>
  <div>
  <app-footer></app-footer>
</div>


<div>
  <app-assigncabtodriver></app-assigncabtodriver>
</div>
-->

<router-outlet></router-outlet>