
<div id="idstyle">
<div class="fixed-bottom " style="background-color:rgb(42, 41, 41)" >
    <!--style="Background : repeating-conic-gradient(rgb(175, 108, 135) 35%,rgb(135, 196, 196) 45%,rgb(129, 186, 129) 25%)"-->
    
        <div class="container-fluid m-40 " id="footer">
           
           <div class="row border-top:1px">
            <div class="col-md-5">
                <h1><span style="color:white">Transport Agency in Eurofins</span></h1>
             </div>
                <div class="col-md-4">
                    <span><h1>
                    <i class='bi bi-telephone-fill' style="color:white">   +91-9740076446/8912367221 </i></h1></span>
                </div>
                <div class="col-md-3">
                   <h1><span class='bi bi-envelope-fill' style="color:white"> transadmin@eurofins.com </span></h1>
                </div> 
            </div>
                
        </div>

        <div>
            
        </div>
    </div>
</div>