
<div>
    <app-adminpage></app-adminpage>
  </div>
  
  <div class="container" style="margin-top:6rem" >
    <div class="text-center mt-5">
      <strong><h1 style=" font-family: Merriweather, serif;">DISPLAY CAB AND DRIVER </h1></strong>
    </div>
  
  
  <div class="container sticky-sm-top " style="margin-top:3rem" >
    <div class="card shadow border-dark" style="min-width: 39rem">
      <div class="card-body">
      
  
        <table class="table">
          <thead class="thead-dark">
            <tr>
            
              <th scope="col">Ride Id</th>
              <th scope="col">Cab Num</th>
              <th scope="col">Cab Name</th>
              
              <th scope="col">Driver Name</th>
              <th scope="col">Phone Number</th>
            </tr>
          </thead>
          <tbody>
            <!-- First Row (Has to be put in ngFor Loop and generated for each employee) -->
            <!--<tr>
              <td>1</td>
              <th scope="row">KA 51 AA 8787</th>
              <td>Swift</td>
              <td>5</td>
               Cab Numbers as options( to be populated using API) 
              <td>DD01
              </td>
              <td>Rajesh</td>
              <td><a class="btn btn-success" (click)="DeleteRow(rideId)">Delete</a></td>

            </tr>-->
  
            <!-- Second Row- Not Required -->
            <!-- <tr>
              <td scope="row" name="rideId" [(ngModel)]="rideId">55</td>
              <td>Toyota</td>
              <td>7</td>
              <td>
                DD02
              </td>
              <td>Sanjay</td>
              <td><a class="btn btn-success" (click)="DeleteRow(rideId)">Delete</a></td>
            </tr>
   -->
            <tr *ngFor="let item of DisplayList">
             
                <!--<td name="rideId" [(ngModel)]="rideId">{{item.rideId}}</td>-->
                <td name="rideId">{{item.rideId}}</td>
                <td>{{item.cabNum}}</td>
                <td>{{item.carName}}</td>
                <td>{{item.driverName}}</td>
                <td>{{item.driverPhone}}</td>
                <td><a class="btn btn-success" (click)="DeleteRow(item.rideId)">Delete</a></td>

          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  
  <div>
    <app-footer></app-footer>
  </div>
  